img.navbar-decoration-logo {
   width:80px;
	margin-top:10px;
	margin-left:10px;
}

img.asd_decorate_navbar_image_preview {
	background-color:888;
}

div.navbar-decoration-name {
   float:left;
   color:white;
   font-size:22px;
   margin-top:12px;
   margin-left:24px;
}

